@import url('./meterGradients.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  /* Used so that optimal autocomplete suggestion width on mobile does not overflow on X-axis */
  overflow-x: hidden;
}

* :not(button, a) {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #272727;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* GOOGLE MAPS -> REMOVE FOOTER */

a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}
.gmnoprint a,
.gmnoprint span {
  display: none;
}
.gm-style-cc {
  display: none !important;
}

/* APEXCHARTS MENU */

.apexcharts-menu {
  color: #212121;
  border-color: #212121;
  background-color: #fefefe !important;
}

/* ANIMATIONS */

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
